[2015-08-10 17:13] grechaw opened #10 "Implmenent more query parameters for MarkLogic semantic documents"
The design for 1.0.0 is lacking the ability to query individual collections and directories of documents.  This would be a very useful feature and is available to the underlying Java Client API.

[2015-08-10 17:28] xquery commented on #10
emulating over in Sesame  - https://github.com/marklogic/marklogic-sesame/issues/80

[2015-08-11 18:12] kkanthet opened #12 "RiotException when inserting triples with Triplexml mimetype"
RDFDataMgr.read(markLogicDatasetGraph, "triplexml.xml");
throws  org.apache.jena.riot.RiotException and there is no Lang Type specified to pass mimetype of triplexml

org.apache.jena.riot.RiotException: [line: 3, col: 38] {E202} Expecting XML start or end element(s). String data "http://example.org/about" not allowed. Maybe there should be an rdf:parseType='Literal' for embedding mixed XML content

[2015-08-11 18:16] kkanthet commented on #12
Jena will not support triplexml

[2015-08-11 18:16] #12 closed

[2015-08-12 20:16] kkanthet commented on #13
Same issue with markLogicDatasetGraph.deleteAny(node, null, null, null);

[2015-08-13 17:33] grechaw opened #1 "RDFDataMgr.read(markLogicDatasetGraph, "file.nt" Lang.NTRIPLES ) inserts two sets of triples into ML DB"
Originally submitted by @kkanthet

When we read triples into MarklogicDataset , there are two sets of tripeles/quads inserted into DB and also is noticeably slow for a file with one triple in it.

MarkLogicDatasetGraph markLogicDatasetGraph = MarkLogicDatasetGraphFactory.createDatasetGraph(writerClient);
RDFDataMgr.read(markLogicDatasetGraphWriter, "/testData/file.nt", Lang.NTRIPLES );

where file

[2015-08-13 17:38] grechaw opened #2 "Javadoc completion and review for accuracy"

[2015-08-13 17:39] grechaw opened #3 "markLogicDatasetGraph.find(null,null,null,null) throws nullPointerException"
From @kkanthet  originally

[code]

[2015-08-13 17:39] grechaw commented on #3
Same issue with markLogicDatasetGraph.deleteAny(node, null, null, null);

[2015-08-13 17:40] grechaw opened #4 "Can perform CRUD after close of dataset"
From @kkanthet

[code]

returns Graph .

Expected:: should not be able to perform any CRUD after close() of dataset.

[2015-08-13 18:05] kkanthet commented on #3
Same nullpointer with findNG when subject is null

[code]

[2015-08-13 22:00] kkanthet opened #5 "adding named graph within transaction dosen't add the graph node"
I am exactly not sure whats going wrong here ,, adding named graph within transaction does not add graph node .

[code]

[2015-08-13 22:04] grechaw commented on #5
Hi Kiran, I'm wondering if you're getting the triple from the default graph as quad1, then if you went to the next triple in the iterator, you'll get the one you're looking for.

Maybe find() should take the newgraph1 as a parameter to narrow down that iterator

[2015-08-13 22:12] kkanthet commented on #5
Thats right , i am getting triples first then quads from find()

[code]

[2015-08-13 22:12] #5 closed, assigned to kkanthet

[2015-08-18 21:12] kkanthet opened #6 "Limit not cleared after query execution"
Once the limit is set for a query , its  not cleared after query execution.

[code]

[2015-08-19 00:59] kkanthet opened #7 "Cannot update SPARQLUpdatepermissions"
setSPARQLPermissions not updating the permissions.
Steps to reproduce::
Set READ permission to a dataset
InsertData and create a graph
Set UPDATE permission to the dataset
InsertData to the same graph
The Graph still has READ permission only

Expecting:: both READ and UPDATE for the role

[code]

[2015-08-19 20:45] kkanthet opened #8 "abort/end transaction commits permission changes to SPARQLUpdatePermission"
steps to reproduce::
open Write Transaction
setSPARQLUpdate permission to READ
insert graph and triples
commit transaction
open new Transaction
setSPARQLUpdate permission to UPDATE
insert graph and triples
abort or end transaction
Result:
Current:: permission is changed to Update
Expected:: finish the transaction and undo permission change

[code]

[2015-08-20 00:23] kkanthet commented on #7
As per documentation permission is only set when creating new graph and ignored for the existing graphs

[2015-08-20 00:23] #7 closed, assigned to kkanthet

[2015-08-20 18:31] kkanthet opened #9 "SPARQL select on non-existing variable value should return null, but throws exception"
[code]

[2015-08-20 21:19] kkanthet commented on #8
Closing this issue as this is not a bug , mis-understood the functionality.

[2015-08-20 21:19] #8 closed, assigned to kkanthet

[2015-08-25 18:04] grechaw commented on #6
I verified and found where to fix this bug.  The queryManager needs to have its pagelength cleared if none is supplied in a select.

[2015-08-25 19:56] grechaw commented on #6
This is pushed to develop

[2015-08-25 20:51] kkanthet commented on #6
Verified the limit is cleared when not set.

[2015-08-25 20:51] #6 closed, assigned to kkanthet

[2015-08-25 21:01] grechaw commented on #3
I think I'm good with a fix for this.

[2015-08-25 21:12] grechaw commented on #4
I've got a fix in for this one done locally

[2015-08-25 21:15] grechaw commented on #9
Hi Kiran, I think this was a bug on the server, which is fixed now.  In any event with my most recent changes it's not throwing an exception anymore.

[2015-08-25 21:46] grechaw commented on #1
Good catch -- this is fixed.

[2015-08-25 22:37] grechaw commented on #9
My test was not sufficient to verify.  Will fix.

[2015-08-25 22:44] kkanthet commented on #4
Verified that we cannot perform CRUD after close of dataset .

[2015-08-25 22:44] #4 closed, assigned to kkanthet

[2015-08-25 22:45] grechaw commented on #9
Got it.  This is a bug for fayez.  The result set is returning  null, unquoted, for null, whereas the SPARQL results expect "null" as a quoted string

[2015-08-25 23:03] grechaw commented on #9
Created bugtrack bug to fix JSON serialization https://bugtrack.marklogic.com/35311

[2015-08-25 23:05] kkanthet commented on #1
Verified that no duplicates are inserted .

[2015-08-25 23:05] #1 closed, assigned to kkanthet

[2015-08-25 23:06] kkanthet commented on #3
Verified that nullPointer is not longer thrown and Find and Delete are working as expected when passed in null

[2015-08-25 23:06] #3 closed, assigned to kkanthet

[2015-08-25 23:18] kkanthet opened #11 "Throw UnSupported Exception instead of returning -1 or empty"
Throw unsupported Exception for functionality not supported by  MarkLogic dataset graph

Ex: get size(), lock(), getContext

[2015-08-31 19:56] grechaw commented on #11
Actually I found there's a Lock implementation called LockNone that is appropriate for getLock(), and the overridden getContext() is OK.  gize() is throwing an exception now.  I'll get these changes ready for a PR.

[2015-09-01 20:26] grechaw commented on #9
Hi Kiran I verified the fix is in the server now.

[2015-09-01 20:28] grechaw commented on #11
This change is pushed to develop

[2015-09-03 17:55] grechaw opened #13 "move jmh tests into subproject"
we have some perf tests that can be pushed into a subproject

[2015-09-03 17:58] grechaw opened #14 "update java api client dep in gradle"
As part of release process (coordinating with @kkanthet ) we need to update gradle to point to maven central deployed java client api 3.0.4.

[2015-09-03 22:57] grechaw opened #16 "RDFDataMgr.write(out, dsg, Lang.NTRIPLES) throws RIOTException"
In creating an example for writing to a stream from MarkLogic, I found that we did not implement and register a code path to enable streaming via RIOT, jena's I/O subsystem.

Here's the exception:

[code]

Which points straight to the missing implementation in RdfDataMgr

[code]

[2015-09-03 23:39] kkanthet commented on #9
Verified and added tests.

[2015-09-04 17:10] grechaw opened #17 "Timer for microbatch of add() is never cancelled."
When you start an application with marklogic-jena, there's a timer task to ensure triples added wit add() are periodically flushed and sent to the server.
This timer task should be cancelled in some final block.  It can block an application stopping now.

[2015-09-04 22:52] grechaw commented on #17
I actually have the fix ready for this.  when you close() a connection, the timer is cancelled.

[2015-09-05 00:36] grechaw commented on #17
I was able to verify this fix by running examples, and comparing behavior with and without close().

If you don't close(), then the timer task may prevent the main loop from exiting.

[2015-09-05 00:36] grechaw commented on #16
This was not a bug.  functionality works with proper output tyupes.  this example needs quads.

[2015-09-08 08:23] xquery opened #18 "commit() should sync()"
I would have expected a sync() call on commit(), anything I am missing ?

[2015-09-08 20:14] kkanthet commented on #17
Verified the timer thread is closed when dataset is closed.

[2015-09-08 20:37] grechaw commented on #18
yes, I think that's an oversight.

[2015-09-09 23:11] #16 closed, assigned to grechaw

[2015-09-09 23:19] grechaw commented on #18
Not so easy to test

[2015-09-09 23:19] grechaw commented on #18
Wouldn't sync to BT if closed.

[2015-09-11 07:06] xquery opened #20 "scheduleFixedRate"
have you considered using Date() to init timer aka

[code]

vs

[code]

[2015-09-11 07:57] xquery commented on #20
ignore this, I was looking into overloaded variant and tests now confirm orig approach is good

[2015-09-11 07:57] #20 closed, assigned to grechaw

[2015-09-11 16:34] grechaw commented on #20
ah ok :)

[2015-09-14 15:54] grechaw opened #21 "base uri not respected in query engine"
If you set a base uri on a query, it is ignored.

Since base made it in late to Java API, I neglected to check jena --- until now.  I have a patch ready for this and would like to get it in before we freeze code.

[2015-09-14 16:14] #13 closed, assigned to grechaw

[2015-09-14 20:33] kkanthet opened #23 "REGR construct with binding returning empty result set"
Construct with binding returning empty results after the fix for #21

[code]

[2015-09-15 16:58] grechaw commented on #23
Hi @kkanthet I'm actually going to try to convince you that you should change your test and we need to push this off.

What's happening here is that the notion of BASE has different defaults for CRUD and SPARQL query.

When you insert, NodeFactory.createURI() is making relative URIs, but no base is set.  This inserted into MarkLogic as a bare string (not an absolute URI).

On query, there's a defa

[2015-09-15 17:54] xquery commented on #23
To add Jena (and Sesame) apply rules differently in different scenarios, for example if uploading a turtle file that defines base throughout ... no attempt is made to rewrite those BASE.

I also observe that in the REST API we do no BASE fixup when we upload a graph with relative elements (to set BASE to file name uri).

I think this needs to cook a little while and agree with Charles conclusions

[2015-09-15 18:02] kkanthet commented on #23
Updating test with Full URI works, Can we override the default base in query by default if we don't  use one?
I will create a new issue to fix  base URI for crud  for 1.0.2

[2015-09-15 18:04] grechaw commented on #23
Yes  -- QueryExecutionFactory.create(String queryString) is how we've been doing it mostly, but you can also do this:

Query q = QueryFactory.create(queryString, BASEURI)
QueryExecutionFactory.create(q)

[2015-09-15 20:20] kkanthet opened #24 "Bad Default Base URI for CRUD"
There is a default base uri set for Query, but no default set on CRUD.
more details on issue #23

[2015-09-21 22:34] kkanthet opened #26 "REGR: markLogicDatasetGraphWriter.writePermissions adding permissions to graph rather than replacing it"
After Sam's update to permission in java-client  https://github.com/marklogic/java-client-api/issues/363 , writePermissions is adding to exiting capabilities instead of  replacing with the new one .

both addPermissions and writePermissions are behaving the same now.
Last assert in below snippet fails.

[code]

[2015-09-23 17:59] grechaw commented on #26
Verified.  Trying to isolate where the bug is.

[2015-09-23 18:22] grechaw commented on #26
Ah, this is not a bug.  the GraphPermissions object keeps the old permissions in state, so when you do writePermissions, you're sending the union of both permissions the second time.

before this line

[code]

 do a permissions.clear() and it will pass.  I have a unit test update for this too.

[2015-09-23 18:47] kkanthet commented on #26
Updated test to set correct permissions and works as expected.

[2015-09-23 18:47] #26 closed, assigned to kkanthet

[2015-10-09 21:35] grechaw commented on #14
I've updated rc-1.0.0 to have version 1.0.0.  (that's a little different from 1.0.1-- I'm hoping that's all right.)

[2015-10-21 17:10] grechaw commented on #2
We've reviewed the javadocs for 8.0-4

[2015-11-25 03:21] kkanthet opened #27 "Generated pom file missing description"
The pom file generated via the publish task is missing Description.

[2015-11-30 02:24] grechaw commented on #27
Hi @kkanthet I just saw this bug.  I'll check in with you about priority for 1.0.1 and make the fix.

[2015-11-30 02:25] #2 closed, assigned to nobody

[2015-11-30 02:25] #9 closed, assigned to kkanthet

[2015-11-30 02:25] #11 closed, assigned to kkanthet

[2015-11-30 02:25] #17 closed, assigned to kkanthet

[2015-11-30 02:25] #18 closed, assigned to kkanthet

[2015-11-30 02:25] #21 closed, assigned to kkanthet

[2015-11-30 02:25] #23 closed, assigned to nobody

[2015-11-30 18:12] grechaw commented on #27
in develop branch, commit fbfbadf1b8b7da17e028e7bce8193163f07dca3a

[2015-12-16 15:57] xquery opened #28 "add Model based example"
https://github.com/marklogic/marklogic-jena/tree/master/marklogic-jena-examples/src/main/java/com/marklogic/jena/examples

add new example using jena model abstraction eg. DataSet, Model, Statement, Resource and Literal

[2015-12-23 10:31] afs opened #29 "Make getGraph a view of the database, not a copy of part of it."
At the moment, `MarkLogicDatasetGraph.getGraph` is a copy of the graph in the database.

This means that:
1. Changes do not propagate back to the database
2. The size of graph that can be worked with is limited by RAM

The alternative is that the graph returned is a view; `add`, `delete` and `find` are mapping operations, `find(s,p,o)` to mapped to `find(graphName, s,p,o)` etc.

[2016-01-12 21:50] grechaw opened #30 "branch for jena 3 support."
Create a new develop-1.0 branch that will continue to support jena 2.
Update develop to include dependency on jena 3.0.1.

[2016-01-22 18:57] grechaw commented on #29
You've observed something I definitely missed about deeper integration with jena.  I have to consider it an enhancement request, and it's obviously not trivial to do, but I will adovate for it.

[2016-01-22 18:58] grechaw commented on #29
Assigning to @sbuxton so that we'll have a conversation about scope and timing.

[2016-01-26 17:08] #30 closed, assigned to grechaw

[2016-01-26 17:08] grechaw opened #35 "Update ml-gradle to use 2.0rc5, from plugin location."
See https://github.com/marklogic/marklogic-sesame/pull/236/files

[2016-03-04 23:02] kkanthet opened #36 "[REGR]nullpointer in MarklogicQueryEngine.eval"
Regression in Jena SPARQLUpdate tests, seeing nullpointer in MarklogicQueryEngine.eval
following tests failing
com.marklogic.jena.functionaltests.JenaSPARQLUpdateTests.testPagination()
com.marklogic.jena.functionaltests.JenaSPARQLUpdateTests.test001ConstructQuery_withbinding()

com.marklogic.semantics.jena.engine.MarkLogicQueryEngineTest > testDescribe FAILED
    java.lang.NullPointerException at

[2016-03-07 23:50] grechaw commented on #36
jena project should really work with either version of the server code to avoid backward incompat.

[2016-03-08 00:04] grechaw commented on #36
I know why this bug happens.  I think I need to special case empty sequence for n-triples.  Either that or serialization from xdmp output method has to change.  In either event, I'll make a new bug to cover this.

[2016-03-08 00:25] grechaw commented on #36
Upon review of the specification for n-triples, RDF 1.1 was updated to not require the '.' for an empty set of triples.  I'll look at other workarounds.

[2016-03-08 00:38] grechaw commented on #36
In order to provide compatibility with jena 2 I think we'll just have to implement the '.' for empty n-triples serializations.  It's not hard to do, and can be removed in the future.

[2016-03-08 00:42] grechaw commented on #36
Now I'm going to propose a fix we can implement in marklogic-jena now, because the server is not really broken.

[2016-03-09 13:09] MichalWozniakSmartlogic opened #39 "Adding and deleting triples with BCP 47 language codes fails"
**Issue**: failing adding and deleting triples to/from Marklogic database with languages in the BCP 47 format. Tested on Marklogic database server 8.0.4.

**Background:**
In order to send triples to the database we use a dedicated method "mergeGraph(String uri, Graph graph)" of class JenaDatabaseClient in the marklogic-jena client.
However, adding of such a triple fails:

with the following respon

[2016-03-09 21:27] grechaw commented on #39
Thanks for making this issue.  I made an internal issue (number 38358) that has been fixed.  Release 8.0-5 will not require this workaround -- I'll leave this issue in place until that server release is out.

[2016-03-25 21:33] kkanthet commented on #36
Verified the issue is fixed  and nor longer get nullpointer

[2016-05-10 20:51] #36 closed, assigned to kkanthet

[2016-05-10 20:51] #27 closed, assigned to kkanthet

[2016-05-10 20:55] grechaw commented on #14
The Java Client API dependency was not updated for the 1.0.1 release, unfortunately.  I'm reopening this task to do that for 1.0.2

[2016-05-11 03:31] kkanthet commented on #14
@grechaw we did update java-client-api dependency to point to 3.0.5 in master branch and release tag https://github.com/marklogic/marklogic-jena/blob/1.0.1/marklogic-jena/build.gradle#L28 . What am i missing ..?

[2016-05-11 14:15] grechaw commented on #35
I've actually updated to use 2.1 now

[2016-05-11 14:17] grechaw commented on #14
no we did not.
We missed it because we cannot actually verify this change until after java client api is released to maven central.
I've made the change now, about to push to develop.  If possible, I think it would be best to cut 1.0.2 with this change, as 1.0.1 really does not take advantage of bugfixes in the java layer.

[2016-05-11 14:19] grechaw commented on #14
So for what its worth, marklogic-jena appears ready for release now

[2016-05-11 15:07] grechaw commented on #35
This doesn't really need any testing -- feel free to close.

[2016-07-12 16:12] grechaw opened #40 "Upgrade to jena 3.1.0"
3.1.0 has bugfixes and cleanup that we should get into the develop branch to stay current for the next release.

[2016-07-15 16:27] #35 closed, assigned to kkanthet

[2016-07-15 16:30] grechaw commented on #39
Marklogic Server 8.0-5 was released some time ago.  @MichalWozniakSmartlogic maybe you'd like to confirm whether this is now fixed.

[2016-07-15 16:32] grechaw commented on #40
I've tested this upgrade already - it was near trivial to get in place, and I'll make a PR for it after 7/22

[2016-08-16 17:47] grechaw opened #43 "A write cache tuning in marklogic-sesame should probably be applied to jena too"
Write cache settings for this project's sister library proved to need a little refinements.
Here is the issue:
https://github.com/marklogic/marklogic-sesame/issues/287

This issue is to make the same change _if appropriate_ to the marklogic-jena write cache.

[2016-08-17 15:20] sashamitrovich commented on #40
@grechaw, when can we expect this to be released, a prospect has a use case with 3.1.0 and wants to use it?

[2016-08-17 16:36] grechaw commented on #40
Hi @sashamitrovich  I can't give you release dates, but I plan to do merge this dependency into develop branch within the next week.  I will consult with our product managers about releasing- there's nothing technically to prevent such a thing.

[2016-08-18 07:12] sashamitrovich commented on #40
Thanks, @grechaw! Would it help if we mention to @sbuxton that a prospect is waiting on this?

[2016-08-23 22:18] grechaw commented on #29
Setting to milestone 1.0.2 to try to scope a release

[2016-08-24 09:02] afs commented on #29
Jena has the class `GraphView` to provide this. It used by a number of `DatasetGraph` implementations.

[2016-08-24 16:25] grechaw commented on #29
Oh, thank you for that pointer @afs, I thought that was an interface I had to implement.

[2016-08-24 21:30] grechaw commented on #29
I was able to get most of the way fixing this.  The lingering issue is that I never implemented a reasonable delete cache, because add/delete previous to this implementation were not tied to server-side state.  Having a delete cache will align the behavior of the sesame and jena libraries.

[2016-08-27 17:53] afs commented on #29
In certain applications, we have found that buffering inserts and deletes is necessary. Both are need to be done so that a `Graph.find(?,?,?)` can check the local buffered changes to generate the right answers.

[2016-08-27 23:56] grechaw commented on #29
That's enough evidence for me.

[2016-08-27 23:58] grechaw opened #45 "Add delete buffering to marklogic-jena"
marlogic-sesame implemented a more sophisticated approach to graph state, which I'm attempting to correct.  Issue #29 takes care of one part, but I also need to implement a deletes buffer in order for the graph view to perform adequately.

[2016-09-01 16:10] grechaw opened #46 "Document client connection state in MarkLogicDatasetGraph"
See https://github.com/marklogic/marklogic-sesame/issues/305
Emphasize that connections to db are long lived.

[2016-09-07 16:40] grechaw commented on #45
I've implemented this, and it seems to work.  I'll review my code and clean it up today then make a PR for each branch.

[2016-09-08 18:11] grechaw opened #47 "Update open source inventory"

[2016-09-20 15:19] grechaw opened #48 "Refactor write buffer to use INSERT DATA rather than mergeGraph"
In the interest of code path consolidation, we'll use SPARQL update rather than mergeGraph to accomplish the write buffering, which is always inserts and never a locking update.

[2016-09-20 16:45] grechaw commented on #24
I've just dug this issue up and it looks like Jena 3 may have changed behavior...

No, verified that Jena 2 also seems no longer to add unexpected BASE.

I'll close this as N/A.  Before, I wasn't sure how to fix, and now I don't think a fix is needed.

[2016-09-20 16:59] grechaw commented on #48
Note to @xquery first attempt has led to memory exhaustion on the server.

[2016-09-20 17:07] grechaw commented on #48
Reason for that is because cache.size() returns the number of _graphs_ in the cache not the number of triples, so you can bust the cache by adding a large number of triples to one graph.

[2016-09-20 17:18] grechaw commented on #48
Implemented a solution to my last comment.  Tests all pass with insert data now.

[2016-09-20 19:44] grechaw commented on #48
In PR for both 1.0 branch and develop

[2016-09-20 21:38] grechaw commented on #47
Done.

[2016-09-20 21:39] grechaw commented on #43
In PR.

[2016-09-20 21:51] #24 closed, assigned to nobody

[2016-09-21 16:54] grechaw opened #51 "Add multithreaded insert test."
Make sure that we have tests that expose how threading and transactions intersect with graph operations and query.

[2016-09-21 18:52] grechaw commented on #51
You can verify the thread test and add more coverage to func tests as needed.

[2016-09-21 18:53] grechaw commented on #48
This refactoring has been done, no functional changes should surface.

[2016-09-21 18:54] #47 closed, assigned to grechaw

[2016-10-03 17:45] #14 closed, assigned to nobody

[2016-10-03 20:06] grechaw opened #52 "Extra calls to /v1/graphs that appear unnessessary"
Looking at the access logs for stress tests, there are periodic calls to /v1/graphs that get a 404 for no default graph.  It seems that this call should be tracked down and removed.

[code]

I'm assuming this is a marklogic-jena bug.

[2016-10-03 20:07] grechaw commented on #52
Put 1.0.2 milestone on for verification.  Not sure whether it will make that release, but we'd like to understand it better sooner.

[2016-10-03 20:10] grechaw commented on #52
Potentially big perf impact, so good to nail down if possible

[2016-10-03 22:17] grechaw commented on #52
This bug was caused by the test harness's using a version older than the fixes in #29

[2016-10-11 18:53] kkanthet opened #53 "Update README to reflect correct version's"
Update README on develop and 1.0-develop explaining the version, dependencies and supported ML server  versions.

[2017-01-09 17:54] #53 closed, assigned to nobody

[2017-01-09 17:55] #29 closed, assigned to kkanthet

[2017-01-09 17:55] #40 closed, assigned to grechaw

[2017-01-09 17:55] #43 closed, assigned to kkanthet

[2017-01-09 17:55] #45 closed, assigned to kkanthet

[2017-01-09 17:55] #48 closed, assigned to kkanthet

[2017-01-09 17:55] #51 closed, assigned to kkanthet

[2017-01-09 17:55] #52 closed, assigned to grechaw

[2017-01-09 17:56] grechaw commented on #39
Closing this issue as it has been fixed in the 8.0-5 release of MarkLogic.  @MichalWozniakSmartlogic if you happen have problems still with language codes do feel free to reopen.

[2017-01-09 17:56] #39 closed, assigned to nobody

[2017-01-11 20:02] grechaw opened #54 "update copyright 2017"
Update all copyright notices in marklogic-jena to 2017

[2017-01-25 18:07] JohnJ9ml opened #55 "Request to have the sync timer values settable for tuning purposes"
It would be helpful for the sync timer frequency for pushing adds and deletes down to the ML database to be exposed and settable from the JenaDatabaseClient. This would be helpful for the purposes of tuning the behavior and optimizing based upon individual application usage patterns. This would also aid in eliminating or identifying the sync behavior as a possible cause of performance issues withi

[2017-02-10 00:20] grechaw commented on #28
I put this example together just now.

[2017-02-11 00:30] grechaw opened #56 "functional tests hard-coded to localhost"
In general, the functional tests could use a refactoring.  When we have a new dev cycle to work on it, the configuration should  be changed to ml-gradle.

[2017-02-11 00:38] grechaw commented on #56
I've actually refactored the string into a static string, which is a slight improvement.

Will be in a PR

[2017-02-11 00:42] grechaw commented on #54
This is complete, in PR

[2017-02-13 18:17] grechaw commented on #55
Hi @JohnJ9ml , in reviewing how Timer works, I'm thinking I should have not used the fixed rate anyway.
I'm going to propose we move to fixed delay timing, which might help in keeping processes from stomping on each other.

[2017-02-14 16:58] grechaw commented on #55
This is in PR -- I simply added a getter and setter in JenaDatabaseClient.

[2017-02-14 16:59] grechaw commented on #55
It occurs to me you might want it in a properties file though.  Is that the case @JohnJ9ml ?

[2017-02-14 17:31] grechaw opened #58 "refresh javadocs for next release"
With new gh_pages potential on github, we may wish to not just refresh the javadocs, but also move them

[2017-03-14 18:30] grechaw opened #59 "review marklogic-jena for release corresponding to server 9.0-1"
we need to update dependencies for the marklogic-jena release.

marklogic jena against MarkLogic 9 needs to be updated to depend on Java Client API 4 release.

[2017-03-22 22:05] kkanthet commented on #55
No regressions , hence shipping

[2017-03-22 22:10] kkanthet commented on #54
@grechaw  files in https://github.com/marklogic/marklogic-jena/tree/develop/marklogic-jena/src/main/java/com/marklogic/semantics/jena/engine
are not updated with Copyright.

[2017-03-22 22:12] grechaw commented on #54
I'll add that change to the PR that's currently outstanding.

[2017-03-22 22:16] grechaw commented on #54
OK, Added to PR #60 .  Not sure why I missed those previously, a good catch.

[2017-03-27 20:03] grechaw commented on #58
In progress, made a snapshot docs branch on my fork.

[2017-03-27 20:14] grechaw commented on #58
http://grechaw.github.io/marklogic-jena/marklogic-jena/build/docs/javadoc/

for review

[2017-05-03 00:24] #56 closed, assigned to kkanthet

[2017-05-03 16:51] #59 closed, assigned to nobody

[2017-05-04 16:14] grechaw commented on #58
Now that the release has happened I can regenerate the javadocs from the tag.  I'll do this in the afternoon today.

[2017-05-04 16:16] grechaw commented on #28
OK To ship/close this issue @kkanthet  ?

[2017-05-11 04:44] grechaw opened #61 "update version in gradle.properties develop branch."
Currently is 3.0.0-SNAPSHOT, should be 3.0-SNAPSHOT

[2017-08-25 22:24] grechaw commented on #58
All done

[2017-08-25 22:25] grechaw commented on #61
updated to 3.0.3-SNAPSHOT, which is also vaguely appropriate.

[2017-08-28 17:54] grechaw opened #62 "Using same DatasetGraph for updates and query throws an INVALIDPARAM error"
I've set up a multi-threaded scenario which does both updates and queries.  This situation runs straight into a change in the Java Client API regarding threading:

from SPARQLQueryManager Javadoc:

[code]

What happens is that, after one has used a querymanager for a select, then use the same one for an update, the pageLength parameter is sent along with an update and fails.

This parameter was ig

[2017-08-28 18:50] grechaw commented on #62
This bug only surfaces against a nightly build of MarkLogic Server.  It is a regression that happened sometime in August 2017.

A fix could be built into marklogic-jena, but I think there's a good case to make the fix in the server, so as to avoid the incompatibility we've built into the client.

[2017-09-18 17:59] kkanthet opened #65 "need to jcenter repo to resolve okhttp-digest"
marklogic-client-4.0.2 depends on okhttp-digest

We should add Jcenter repo to get this dependency
<repository>
	<id>jcenter</id>
	<url>http://jcenter.bintray.com</url>
</repository>

Could not find com.burgstaller:okhttp-digest:1.14.
  Searched in the following locations:
      https://repo1.maven.org/maven2/com/burgstaller/okhttp-digest/1.14/okhttp-digest-1.14.pom
      https://repo1.maven.org/m

[2017-09-21 17:01] #65 closed, assigned to grechaw

[2017-10-02 18:40] #46 closed, assigned to kkanthet

[2017-10-02 18:40] #54 closed, assigned to grechaw, kkanthet

[2017-10-02 18:40] #55 closed, assigned to kkanthet

[2017-10-02 18:40] #61 closed, assigned to grechaw

[2017-10-19 16:51] grechaw opened #67 "upgrade dependencies"
as part of next release, upgrade java client to 4.0.3, along with other dependencies as appropriate.

[2017-11-03 17:00] grechaw commented on #62
@kkanthet, this issue is lingering from a previous release.  Can you confirm that you saw and ship?

[2017-11-03 17:00] #58 closed, assigned to grechaw

[2017-11-03 17:01] #28 closed, assigned to kkanthet

[2017-11-03 17:02] grechaw opened #68 "update javadocs for 3.0.5"
This is a post-release task.

[2017-11-03 17:52] grechaw commented on #67
Assiging to our illustrious QA folks -- all dependencies have been upgraded.

Ideally the functional tests would get some updates too -- I would rather they use sfl4j and ml-gradle for deployment, would speed them up some.

[2017-11-28 19:32] kkanthet commented on #62
Yes this issue is shipped in 3.0.4 , closing it.

[2017-11-28 19:32] #62 closed, assigned to kkanthet

[2017-11-28 19:33] kkanthet commented on #67
Will have to create a different task and prioritize it to move functional test to mlGradle instead of REST API setups.
All functional tests and unit tests pass against 9.0-4-nightly and develop with marklogic-client-4.0.3

[2018-02-23 18:10] popzip opened #71 "Update Open Source Support language"
Please refer to updated text for DHF, included below as point of reference. Key changes are to say "made available under...", reference "TechnicalSupport Handbook". Change anything specific to another product (eg DHF). The rest should be pretty boilerplate/straight copy paste.

use Support.md attachment from internal wiki on "Open Development and Open Source"

[2018-05-23 15:32] #67 closed, assigned to srinathgit, kkanthet

[2018-09-13 00:32] AlexTo opened #72 "Previous digest authentication with same nonce failed, returning null"
Hi, I am using `marklogic-jena:3.0.5` with Spring Boot

My Spring service looks like this

[code]

If I use Postman to post to my Controller which then calls my Service, it works fine. However, when I deploy in the test environment with higher load, then I have the below error message. It seems to be related to this issue [java-client-api-#770](https://github.com/marklogic/java-client-api/issues/7

[2018-09-13 01:30] grechaw commented on #72
Hello, you need a release of marklogic-jena that has an upgraded java client.  I'll raise this issue and see about cutting a release as soon as is convenient.  Feel free to ping back if you don't hear a reply.

Your connection method should be good.  It's intended to be a long-lived object.

[2018-09-13 01:59] AlexTo commented on #72
Thanks a lot for a quick update, I look forwards to the next release.
Regards

[2018-09-19 02:55] AlexTo opened #73 ""No enum constant com.marklogic.client.semantics.RDFTypes.LANGSTRING""
Hi
I have a problem creating LangLiteral in MarkLogic. Not sure if MarkLogic Jena supports creating language tagged strings.

[code]

The above line of code throws error.

[code]

`langString.getObject().asLiteral().getLexicalForm()` returns a string and `   langString.getPredicate().getLocalName()` returns `en-us`, `en-gb` or `en` etc...

If I use the exact same code but with Virtuoso Jena API in

[2018-09-19 04:04] #73 closed, assigned to nobody

[2018-09-19 04:05] AlexTo commented on #73
Sorry, false alarm. I think it is not the above line of code that throws such error. Will investigate further.

[2018-09-19 07:54] AlexTo opened #74 "Transverse RDF graph with Resource::getProperty(Property prop)"
Hi
Just want to know whether it is possible to transverse the graph from a "starting" Resource. For example, after getting a Resource s as a result of a QueryExecution like so
[code]
Using Virtuoso Jena API or Jena, I can continue to transverse the RDF graph as follows
[code]
But in MarkLogic Jena API, all I get is null. Can someone confirm whether it is implemented in MarkLogic Jena API ?
Seem li

[2018-09-19 08:16] AlexTo opened #75 "QueryExecution create(Query query, Model model) return no result with named model"
I'm having strange behaviour with QueryExecution create(Query query, Model model)

I created a named model and add triples to it as follows
[code]
Now, using Mark Logic query console, I can confirm that <urn:x-arq:LearningRecord> has been created with triples in it.
But now if I query with QueryExecutionFactory like this
[code]
then `resultSet.hasNext() is false`
But if I query without getNamedMod

[2018-10-12 07:52] Kridev commented on #72
Any update on release? Having similar problem with similar setup.
But instead of fail I see:

o.OkHttpClient                           : previous digest authentication with same nonce failed, returning null
o.OkHttpClient                           : Cached authentication expired. Sending a new request.

[2018-10-12 11:43] AlexTo commented on #72
if you can't wait for MarkLogic to release the new version, simply clone the Git and update this file

[https://github.com/marklogic/marklogic-jena/blob/master/marklogic-jena/build.gradle](https://github.com/marklogic/marklogic-jena/blob/master/marklogic-jena/build.gradle)

1. Update marklogic-client-api version from 4.0.3 to 4.1.1
2. Update version from 3.0.5 to 3.0.5.1 (just to avoid conflicting

[2018-10-12 13:12] Kridev commented on #72
Thanks for reply!

[2018-10-15 21:18] #72 closed, assigned to nobody

[2018-10-22 00:36] AlexTo commented on #74
Sorry, this issue only happens when the resource is a blank node. I can transverse normally if the resource is a URI.

However still in Jena or Virtuoso, I can transverse even with blank node.

My solution is to convert all blank nodes to URI before saving to MarkLogic. For e.g. the blank node now becomes `http://<mydomain>/bnodes/<blanknodeid>`

[2018-10-22 00:36] #74 closed, assigned to nobody

[2019-02-01 22:20] ehennum opened #76 "upgrade Jena and MarkLogic dependencies"
latest stable production releases

[2019-02-11 23:25] AlexTo commented on #76
hi @ehennum, do you have any build issues after upgrading the dependencies?

[2019-02-11 23:43] ehennum commented on #76
@AlexTo , the MarkLogic Java API dependency was a clean update, but the Jena upgrade had an issue.

The Jena Transactional interface added some methods.  marklogic-jena has an implementation of that interface, so the marklogic-jena class implementing Transactional must add some methods.

I need to study up on the Jena transactional model before writing those methods.

[2019-02-12 00:02] AlexTo commented on #76
I thought so too as the last time I attempted to upgrade Jena to 3.7.0 and realised I needed to also update MarkLogic classes accordingly. Eventually I removed support for Jena in our software as I didn't have the time to do so but this update is highly desired :) hopefully MarkLogic team could provide an upgrade soon

[2019-02-12 22:07] ehennum commented on #76
Although the new Transactional methods seem biased toward a specific transactional model, the impacts on marklogic-jena seem straightforward, in that the MarkLogic Java API only supports write transactions for multistatement transactions.

Anyway, the unit tests ran fine after the version upgrade. No new functional tests are needed because the version upgrade doesn't add any new functionality.

If

[2019-03-21 02:09] AlexTo opened #77 "How to retrieve RDFList ?"
Hi
I am using Jena function model.createList(...) to create a RDFList.

Then I will have the following triples in MarkLogic.

[code]
Now if I want to retrieve the list like I normally do in Jena TDB2, I would query as follows

[code]
However, since list is a blank node, this does not work in MarkLogic with the following exception

[code]
The UUID in the exception is different everytime so probably

[2019-03-22 00:08] ehennum commented on #77
Blank nodes are convenient for in-memory data, but they pose challenges for persistent data because (as you note) blank nodes by definition don't have stable identity, which means they can't be indexed or addressed in a durable and atomic way.

For that reason, I very much agree with your idea of modelling the data in a different way that works both for in memory and persistent contexts.

One appr

[2019-03-22 01:05] AlexTo commented on #77
Those are great approaches. I was actually thinking to either do one of the following because I only need a "bag", not a "list"

1. Have multiple triples, one triple for one item like this
[code]
Easy and straightforward. Not sure what are the shortcoming though.

2. Create an in memory model. Use Jena RDFList to create the list in the in memory model. Go through all the statements and replace bla

[2019-03-22 01:20] ehennum commented on #77
If you don't need ordering, I completely agree with that solution.

In fact, I would expect it's a better solution for the in-memory representation, too, because it more accurately reflects the semantics.

Of course, if the data has to be modelled as RDFList for some consumer, the transformation is possible.

[2019-04-17 17:36] michalpiekarski opened #78 "Vulnerability in dependencies"
Depends on vulnerable Thrift version.

https://nvd.nist.gov/view/vuln/search-results?adv_search=true&cves=on&cpe_version=cpe%3A%2Fa%3Aapache%3Athrift%3A0.9.3

[2019-07-23 22:57] georgeajit commented on #76
Closing this issue.

[2019-09-11 01:46] AlexTo commented on #76
Hi just checking if there is any plan to release this upgrade yet to support Jena 3.1x.0 ?
Thank you

[2019-09-11 15:55] ehennum commented on #76
@AlexTo , the marklogic-jena project is now a community project:

https://github.com/marklogic/marklogic-jena/blob/master/LICENSE#L10

Contrary to our expectations, the project hasn't seen much interest:

https://github.com/marklogic/marklogic-jena/graphs/traffic

[2019-09-12 08:57] AlexTo commented on #76
I pulled the "Dev" branch which has your latest commit and it seems to work ok with Jena 3.12.0
Thanks

[2019-09-19 01:15] AlexTo opened #79 "Unrecognized binding type in MarkLogicDatasetGraph"
Found a bug in function bindObject() in MarkLogicDatasetGraph.java while importing Mappingbased Literals downloaded from https://wiki.dbpedia.org/downloads-2016-10

DBPedia uses a number of non-standard data types for e.g. http://dbpedia.org/datatype/usDollar and `RDFTypes.valueOf(fragment.toUpperCase())` will return null so I added a catch for NullPointerException and assign it to RDFTypes.STRING

[2019-09-19 01:25] AlexTo opened #80 "Server Message: XDMP-CAST: (err:FORG0001) xs:nonNegativeInteger(.) -- Invalid cast: "-60" cast as xs:nonNegativeInteger . See the MarkLogic server error log for further detail."
I know this is not a MarkLogic Jena issue but rather a MarkLogic server issue but I'm not sure where to ask this question so I posted here in case if anyone knows. Sorry about that.

My question is I know "-60" is not a valid xs:nonNegativeInteger but how to make MarkLogic accept this triple instead of rejecting the entire data file?

[2019-09-19 01:32] AlexTo opened #81 "failed to apply resource at /graphs/sparql: Bad Request. Server Message: XDMP-NOTXN: No transaction with identifier ...."
I always wrap write transactional code like this
[code]
But what I notice is that if for some reason, it fails and ds.abort() is called. The next time if there is another call to open a new transaction then I will receive error : " failed to apply resource at /graphs/sparql: Bad Request. Server Message: XDMP-NOTXN: No transaction with identifier ..".

As if I am still in a "dead" transaction and a

[2022-07-04 12:19] fp-smartlogic commented on #76
Hi. Are there any plans of upgrading Jena dependency to 4.x version?

[2022-08-31 12:52] rjrudin commented on #78
Ran the snyk Gradle plugin against the latest on develop branch, and there's no longer a Thrift vulnerability. The develop branch is now compiling against Jena 4.3.2, which depends on 0.15.0 of Thrift. 0.9.3 was released in 2015, and 0.15.0 in 2021, so fairly certain the vulnerability was addressed.

[2022-08-31 12:52] #78 closed, assigned to nobody

[2022-08-31 12:58] #71 closed, assigned to grechaw

[2022-08-31 12:58] rjrudin commented on #76
This will be addressed in the next release. Thanks to @fp-smartlogic  for doing the work of supporting Jena 4.x.

[2022-08-31 12:58] #76 closed, assigned to nobody

[2022-08-31 15:26] popzip commented on #71
lol

[2022-09-01 20:41] grechaw commented on #71
lol back from here

On Wed, Aug 31, 2022 at 8:27 AM Kasey Alderete ***@***.***>
wrote: